.section {
  margin-top: 54px;

  h2 {
    font-size: 18px;
  }

  p {
    font-weight: 200;
    font-size: 14px;
    line-height: 1.5;
    max-width: 544px;
    padding-left: 100px;
    text-decoration: underline;

    @media (max-width: 375px) {
      padding-left: 0;
    }
  }
}
