.back__btn {
  cursor: pointer;
  margin: 16px 0;
}

.wrapper {
  overflow: auto;
  white-space: nowrap;
  max-height: var(--wrapper-max-height);
}

.text {
  margin-top: 24px;
  margin-left: 5px;
  font-weight: 200;
  font-size: 14px;
  line-height: 1.5;
  max-width: 544px;

  li {
    list-style-type: "- ";
    padding-left: 8px;
  }
}
