.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.body {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
