.container {
  padding: 0 2rem;
  background-color: #d0ca2d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.header img {
  height: 94px;
  border-radius: 5rem;
}

.header p {
  max-width: 248px;
  font-family: Helvetica;
  font-size: 14px;
  margin: 0;
}

.title {
  max-width: 88px;
  line-height: 1.15;
  font-size: 2rem;
  font-family: Impact;
}

.location {
  font-size: 12px;
  background-color: rgba(166, 166, 166, 0.513);
  width: max-content;
  border-radius: 25px;
  padding: 0px 12px;
  display: flex;
  align-items: center;
}

.location p {
  padding-left: 5px;
  margin: 6px 0;
}

.social {
  display: flex;
  gap: 4;
}

.body {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}

.work p {
  max-width: 500px;
  padding-left: 100px;
}

.card {
  padding-top: 5px;
  text-align: left;
  font-size: 12px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.divider {
  width: 500px;
  height: 2px;
  background-color: #fff;
}

.card:hover,
.card:focus,
.card:active {
  color: rgb(65, 65, 65);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
